.App {
  text-align: center;
}


.logout-nav {
	background-color: white;
	list-style: none;
	text-decoration-line: underline overline;
	color: blue;
	cursor: pointer;
}

.logged-in-as {
	background-color: white;
	list-style: none;
}

.post-container {
	color: red;
}